<!-- Modal -->
{% macro modal(modalId, modalClass, title, size, buttonText, footer = false) %}
    <div class="modal fade {{modalClass}}" id="{{modalId}}" tabindex="-1" aria-labelledby="{{id}}Label" aria-hidden="true">
        <div class="modal-dialog {{size }}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ caller() }}
                </div>
                {% if footer == true %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">{{buttonText}}</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}