//=======================
//  Colors
//=======================
$primaryColor: #d9af32;
$secondaryColor: #8c3c1f;
$subColor: #a68c5b;
$orangeColor: #f29a2e;
$yellowColor: #ffe48f;
$blackColor: #282828;
$grayColor: #eaeaea;
$darkGrayColor: #535353;
$pinkRed: #e36565;
$redColor: #ff0303;
$bordercolor: #f0f0f0;
$whiteColor: #ffffff;

//=======================
//  Fonts
//=======================
$primaryFont: "Nunito Sans", sans-serif;
