.header__top {
	padding: 12px 0;
	background: $grayColor;
}

.header__bottom {
	padding: 15px 0;
	background-color: $whiteColor;

	.icon-link {
		// font-size: 20px;
		i {
			@media (max-width: 768px) {
				font-size: 38px;
			}
		}

		.badge {
			@media (max-width: 768px) {
				font-size: 14px;
				right: -15px;
				left: auto !important;
				top: 10px !important;
			}
		}
	}
}

.searchbar {
	width: 100%;
	.form-select,
	.form-control {
		height: 45px;
		border: none;

		&:focus {
			box-shadow: none;
		}

		// &:hover {
		// 	background-color: $bordercolor;
		// }
	}

	.input-group {
		border: $primaryColor 1px solid;
		border-radius: 5px;
	}

	.form-select {
		max-width: 170px;
	}

	.form-control {
		font-size: 16px;
		// font-weight: bold;
		color: $blackColor;
	}

	button {
		height: 45px;
		border: none;
		color: $whiteColor;
		background-color: $primaryColor;
		font-size: 24px;
		padding: 0 15px;

		&:hover {
			background-color: darken($primaryColor, 10%);
		}
	}
}
